@import url(https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe);

body {
  font-family: "ZCOOL KuaiLe", cursive;
  background-color: #64a19d;
  color: #9bd3cf;
}
button {
  background-color: transparent;
  border-color: transparent;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadein 0.5s linear;
}
